/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
    --vp-code-block-bg: rgba(125, 125, 125, 0.04);
}

.dark {
    --vp-code-block-bg: rgba(0, 0, 0, 0.2);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
    --vp-code-line-highlight-color: rgba(125, 125, 125, 0.2);
}

.dark {
    --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
}
